# Auto detect text files and perform LF normalization
* text=auto
static/graphs/neighs/Little[[:space:]]Italy,[[:space:]]UIC_block_montyear.html filter=lfs diff=lfs merge=lfs -text
static/graphs/neighs/Loop_block_montyear.html filter=lfs diff=lfs merge=lfs -text
static/graphs/neighs/Lower[[:space:]]West[[:space:]]Side_block_montyear.html filter=lfs diff=lfs merge=lfs -text
static/graphs/neighs/West[[:space:]]Loop_block_montyear.html filter=lfs diff=lfs merge=lfs -text
