
<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>  
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
    	<div align="center">
	        <div id="header">
	            <h1>Chicago PM2.5 Data</h1>
                <h2>Comparing between AirQuality (AQ), EPA, and PurpleAir (PA)</h2>
	        </div>

			<form method="get">
				{% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
			    <input type="submit" value="Search">
			</form>

		{% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}

        <div class="image">
            <div align="center">
                <div id="header">
                    <h2>All Years: Barplots, Scatterplots, Boxplots</h2>
                </div>
            </div>

            {% if all_years0 != None and all_years0 != False %}
            <div class="results", style="overflow-x:auto;">
                <table class="aq_all_years">
                    <tr>
                    {% for i in all_years0 %}
                     <td> <img src="https://chicagoairquality.s3.us-east-2.amazonaws.com/static/graphs/neighborhood_summary_Daily.png" width="100%"> </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
            {% endif %}

        </div>
    </body>
</html>
